@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("~assets/fonts/IRANSans.woff") format('woff'), url("~assets/fonts/IRANSans.woff2") format('woff2'), url("~assets/fonts/IRANSans.otf") format('otf');
}

html {
    width: 100%;
    font-family: IRANSans !important;
}

* {
    font-family: IRANSans !important;
    line-height: 200%;
}